@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  width: 100%;
  padding: 10px;
  margin: 0px auto;
}
.logo {
  width: 160px;
  height: 60px;
  padding: 5px 7px;
}
.bi-search {
  width: 20px;
  height: 25px;
  /* padding: 7px; */
  font-size: 22px;
  margin-top: -12px;
  font-weight: bolder;
  margin-left: -25px;
  cursor: pointer;
}
.navbar {
  width: 100%;
  /* height: 65px; */
  position:fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.hambargr {
  width: 50px;
  height: 42px;
  padding: 5px;
  margin-left: -10px;
}
.search {
  width: 600px;
  padding: 7px;
  border: 1px solid rgba(220, 197, 197, 0.59);
  outline: none;
}
.nav-btn {
  background-color: tomato;
  padding: 2px 13px;
  border-radius: 4px;
  text-align: center;
  color: white;
  border: none;
  align-items: center;
  padding-bottom: 4px;

}
.scroll {
  border: none;
  padding: 3px 18px;
}
.nav-items {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 13px;
  height: 40px;
}
.lists {
  width: 70%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}
.list {
  width: 30%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}
p {
  text-align: center;
  align-items: center;
  margin: 12px;
}
.body-conatiner {
  width: 100%;
  padding: 10px;
  height: 300px;
  border-radius: 15px;
  align-items: center;
}

.d-block {
  width: 100%;
  height: 390px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 18px;
}
.long-img {
  width: 100%;
  background-color: whitesmoke;
  margin: 40px auto;
}
.long-pic {
  width: 100%;
  border-radius: 15px;
  height: 110px;
  align-items: center;
}

.event-contr {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: -11px;
}
.info-img {
  width: 320px;
  height: 300px;
  padding: 19px;
  border-radius: 25px;
  object-fit: cover;
  margin: 15px;
}
.movies-info {
  width: 100%;
  /* background-color: #2b3149; */
  border-radius: 10px;
  
}
.movies-info>h2{
  color: white;
}
.movies-info>h6{
  color: white;
  font-size: 18px;
}
.pre-img {
  width: 100%;
  margin-top: 30px;
  padding: 10px 5px;
  border-radius: 18px;

}
.pre-movie>h4{
  font-weight: bolder;
  margin-left: 12px;
}
.movie-title{
  width: 255px;
  height: 334px;
  border-radius: 24px;
  padding: 13px;
  cursor: pointer;
  
}
.movie-titles{
  width: 255px;
  height: 360px;
  border-radius: 22px;
  padding: 10px;
  cursor: pointer;
}
.pre-movie{
  margin-top: 30px;
}
.movie-name{
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bolder;
  margin-left: -65px;
}
.movie-name>span{
  margin: 2px 90px;

  /* margin-left: -10px; */
}
.s-media{
display: flex;
}
.footer-img{
  width: 100%;
  height: 50px;
}
.title-name{
  display: flex;
  font-weight: bolder;
  justify-content: space-between;
}
.footer{
  /* display: flex; */
  justify-content: space-around;
margin: 20px 5px;
}

.contact-conatainer {
  display: flex;
  padding: 5px 200px;
  justify-content: space-between;
}

.foot-link {
  text-decoration: none;
  font-size: 25px;
  color: rgba(253, 249, 247, 0.618);

}

.foot-link:hover {
  border-bottom: 2px solid white;
  color: rgba(0, 0, 0, 0.963);
}

footer {
  box-shadow: 0px 0px 10px rgb(31, 163, 234, 0.7);
  padding: 400px;
  background-color: rgba(199, 160, 228, 0.481);
  border-radius: 10px;
}
footer >p{
  margin-top: 20px;
  font-size: 17px;
}
.social-media {
  /* display: flex; */
  justify-content: space-between;
  padding: 0px 450px;
  align-items: center;
  /* margin-left: 70px; */
}
.words {
  color: white;
  margin-top: 30px;
}
.s-icon{
  font-size: 35px;
  text-decoration: none;
  color: black;
  margin: 30px;
  margin-right: 29px;
  /* margin: 30px; */
}
.s-media-flex{
  /* margin-left: 20px; */
  display: flex;
  justify-content: space-around;
  /* margin: 5px 70px; */
}
.s-icon:hover{
  color:white;
}
